@font-face {
    font-family: 'calculator-font';
    src: url(fonts/digital-7.mono.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

#frame {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    border-radius: 5px;
    height: 295px;
    width: 205px;
    padding: 0;
    justify-content: space-evenly;
    background-color: lightgray;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 205px;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

#display {
    height: 40px;
    width: 184px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 4px;
    text-align:right;
    font-family: 'calculator-font';
    font-size:38px;
    background-color: darkseagreen;
}

.button {
    height: 40px;
    width: 43px;
    border: solid black 2px;
    border-radius: 5px;
    font-size: large;
    margin-top: 2px;
    margin-bottom: 2px;
}

.button:active {
    background-color: gray;
    transform: scale(0.95);
}

.number {
    background-color: cadetblue;
    font-size: x-large;
}

.operation {
    background-color: coral;
}

#equals {
    background-color:khaki;
}

#equals:active {
    background-color: gray;
    transform: scale(0.95);
}